doctype html
html(lang="en")
   head

      title Sea Battle
      link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,300,700', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=UnifrakturCook:700&subset=latin,latin-ext', rel='stylesheet', type='text/css')
      link(href='css/normalize.css', rel='stylesheet')
      link(href='css/style.css', rel='stylesheet')
      script(src="../../node_modules/es6-shim/es6-shim.min.js")
      script(src="../../node_modules/angular2/es6/dev/src/testing/shims_for_IE.js")
      script(src="../../node_modules/angular2/bundles/angular2-polyfills.js")
      script(src="../../node_modules/rxjs/bundles/Rx.umd.js")
      script(src="../../node_modules/angular2/bundles/angular2-all.umd.js")
      script(src="node_modules/angular2/bundles/router.dev.js")
      script(src='../scripts/start.component.js')
      script(src='../scripts/signIn.component.js')
      script(src='../scripts/main.js')
      meta(charset="UTF-8")
   body
      div.container
         start-app
         router-outlet