<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sea Battle</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=UnifrakturCook:700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="../../node_modules/es6-shim/es6-shim.min.js"></script>
    <script src="../../node_modules/angular2/es6/dev/src/testing/shims_for_IE.js"></script>
    <script src="../../node_modules/angular2/bundles/angular2-polyfills.js"></script>
    <script src="../../node_modules/rxjs/bundles/Rx.umd.js"></script>
    <script src="../../node_modules/angular2/bundles/angular2-all.umd.js"></script>
    <script src="node_modules/angular2/bundles/router.dev.js"></script>
    <script src="../scripts/start.component.js"></script>
    <script src="../scripts/signIn.component.js"></script>
    <script src="../scripts/main.js"></script>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
      <start-app></start-app>
      <router-outlet></router-outlet>
    </div>
  </body>
</html>